.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
.wrapper {
  margin: 50px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 0;
}
.wrapper_adaptive {
  display: none;
}
.wpapperAddCard {
  margin: 20px;
  display: block;
}
.wpapperAddCardInput {
  width: 700px;
  padding: 10px;
  margin: 5px;
}
.wrapperCardInformation {
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 775px) {
  .wpapperAddCardInput {
    width: 400px;
    padding: 10px;
    margin: 5px;
  }
}
@media screen and (max-width: 475px) {
  .wpapperAddCardInput {
    width: 300px;
    padding: 10px;
    margin: 5px;
  }
}
.wpapperAddCardButton {
  margin: 10px;
  padding: 5px;
  width: 200px;
}
@media (max-width: 1100px) {
  .wrapper_adaptive {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .wrapper {
    display: none;
  }
  .wrapper_card_adaptvive {
    margin-bottom: 50px;
    animation-name: wrapper_card_adaptive_animation;
    animation-duration: 3s;
    }
    @keyframes wrapper_card_adaptive_animation{
      from {
        opacity: 0;
        transform: scale(0.8) perspective(50px) translate3d(0px, 70px, 0px);
      }
      to {
        opacity: 1;
        transform: scale(1) translate3d(0px, 0px, 0px);
      }
    }
  .wrapper_card_adaptive_image {
    width: 100%;
    height: 50vw;
    background-size: cover;
    background-position: center center;
    background-color: black;
  }

}
.wrapperCard {
  color: #333;
  padding: 10px;
  text-indent: 0px;
  transition: all 1s ease-out;
  cursor: pointer;
}
.wrapperCardActive {
  z-index: 1;
  padding: 10px;
  transition: all 1s ease-out;
}
.wrapperCardImage {
  width: 100%;
}
.CardInformation {
  display: flex;
  justify-content: space-between;
  background:yellow;
}

